@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#eat {
  background-color: #DDDDDD;
  position: absolute;
  height: 50%;
  width: 50%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
}
