@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#fight {
  background-color: #01FF70;
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 50%;

  h2 {
    font-family: 'Roboto', sans-serif;
    color: #85144b;
    text-align: center;
  }
  
  h4 {
    text-align: center;
  }
}
