@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#progress {
  background-color: #001f3f;
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;

  h2 {
    font-family: 'Roboto', sans-serif;
    color: #FF851B;
    text-align: center;
  }
  
  h4 {
    text-align: center;
    color: #FF851B;
  } 
}
