@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#sleep {
  background-color: #7FDBFF;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
}
